@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'VT323', monospace;
}
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
.hero {
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    color: white;
    display: grid;
    grid-template-rows:max-content 1fr ;
    grid-template-areas:
    "nav"
    "content";
    min-height: 100vh;
}
.nav {
    grid-area: nav;
    display: grid;
    justify-content: space-between;
    grid-auto-flow: column;
    gap: 1em;
    align-items: center;
    height: 90px;
}
.nav--link {
    color: white;
    text-decoration: none;
}
.nav--menu {
    display: none;
}
.nav--list {
    list-style: none;
    display: grid;
    grid-auto-flow: column;
    gap: 1em;

}
.nav--icon {
    width: 30px;
}
.nav--logo {
    font-size: 1.8rem;
    font-weight: 300;
}
.nav--link:hover {
    color: rgba(139, 32, 32, 0.37);
}


.hero-main {
    grid-area:content ;
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr) );
    padding-bottom: 180px;
    align-items: center;
    
}
.hero--waves {
    align-self: end;
}
.hero--title {
    font-size: 2.6rem;
    letter-spacing: 2px;
}
.hero--subtitle {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    font-weight: 300;
}
.hero--img {
    width: 100%;
}
.hero--cta {
    text-decoration: none;
    color: white;
    border: 1px solid;
    border-radius: 6px;
    display: inline-block;
    padding: 15px 70px;
    transition: background-color .3s;
}
.hero--cta:hover {
    background-color: white;
    color: #1e3c72;
}
@media (max-width:800px) {
    .nav--list {
        display: none;
    }
    .nav--menu{
        display: block;
    }
    .hero-main {
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content;
        text-align: center;
    }
    .hero--picture {
        grid-row: 1/2;
    }
    .hero--img {
        max-width: 500px;
        display: block;
        margin: 0 auto;
    }
}